.profile {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.container_shadow {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
}

.profile_name {
  line-height: 18px;
  padding: 20px;
};

.profile_name .name {
  text-transform: uppercase !important;
  font-size: 17px;
  font-weight: bold;
}

.profile_name .title {
  text-transform: capitalize;
  font-size: 13px;
  color: #777;
}

.profile_image {
  margin: 0;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path:  polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
  width: 100%;
}

.profile_information {
  top: 0;
  left: 0;
  margin: -40px 10px 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}