.profile {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.profile_name {
  line-height: 18px;
  padding: 20px;
};

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.profile_name .title {
  text-transform: capitalize;
  font-size: 13px;
  color: #777;
}

.profile_image {
  border: 5px solid black;
  margin: 0;
}

.profile_image img {
  width: 100%;
}